body {
    margin: 0;

}

canvas {
    background-image: radial-gradient(#666, #333);
}
#cf{
  position:relative;
  margin-left: 400px;
  height:400px;
  width:650px;
  cursor: pointer;
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
footer{
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 1210px;
    height: 20px;
    background-color: gray;
    border: 10px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ex2{
    margin-top: 0px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    color:white;
    border: 2px solid #2D2D2D;
    text-decoration: none;
    margin-right: 5px;
}
a.ex2:hover{
  width: 200px;
  color: white;
  background-color: #2D2D2D;
}
.ex3{
    margin-top: 5px;
    margin-bottom: 5px;
}
a.ex3:hover{
  color: red;
}